.login-form {
    width: 30%;
    margin: 0 auto;
    padding: 30px;
    box-shadow: 0px 0px 8px grey;
}

.text-uppercase {
    padding: 0px;
    margin: 10px;
}

.row {
    text-align: center;
}

.row .col-sm {
    padding: 20px;;
}

input[type="submit"] {
    margin-top: 7px;
    padding: 3px;
}